{
    "plugins": [
        ["component", {
            "libraryName": "frosted-glass-ui",
            "libDir": "lib",
            "styleLibrary": {
                "name": "styles",
                "base": false,
                "path": "[module].css"
            }
        }]
    ]
}