// 颜色
$accentColor = #fa6594; // fa6594
$bgColorBlur = rgba(255, 255, 255, 0.5);
$darkBgColorBlur = rgba(30, 30, 30, 0.5);
$darkBgColor = rgba(0, 0, 0, 0.99);
// 主题色
$colorPicker = {
    red: #ff2525,
    blue: #0396ff,
    green: #28c76f,
    orange: #ff7417,
    purple: #6018dc
};
// 布局
$navbarHeight = 3.6rem;
$contentWidth = 1200px;
$homePageWidth = 1200px;
// 响应式变化点
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 450px;