/* 
 * common/var.scss
 */

$--color-white: #ffffff !default;
$--color-default: #fa6594 !default;
$--color-primary: #0396ff !default;
$--color-success: #67C23A !default;
$--color-info: #909399 !default;
$--color-warning: #ff7417 !default;
$--color-danger: #ff2525 !default;